<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form
      action="http://localhost:8080/api/upload/avatar"
      method="post"
      enctype="multipart/form-data"
    >
      <input type="file" name="avatar" />
      <button type="submit">OK</button>
    </form>
    <script>
      const payload = new FormData();
      const file = document.querySelector("input");
    </script>
  </body>
</html>
